/* styles.css o styles.scss */
body {
    background-color: #111827; /* Gris claro */
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que la página ocupe toda la altura */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
  }
  
  html, body {
    height: 100%;
  }
  