.mascota-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    width: auto; /* Ajusta el ancho al contenido */
    max-width: 400px; /* Puedes ajustar este valor según tus necesidades */
  }
  
  .mascota-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mascota-info h3 {
    margin: 0 0 10px 0;
  }
  
  .mascota-info p {
    margin: 5px 0;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button + button {
    margin-left: 0;
    margin-top: 5px; /* Espaciado entre botones */
  }
  